/* body{ 
    background-color: black;
    color: aqua;
}*/
p{
    background-color: rgb(106, 155, 197);
}
a{
    background-color: rgb(106, 155, 197);
}
div{
    background-color: yellow;
}
span{
    background-color: yellow;
}
